@model IEnumerable<Models.Course>
@{
    var sessionList = ((List<int>)Session["CoursesSessionList"]).OrderBy(i => i);
}
@foreach (int session in sessionList)
{
    var courses = Model.Where(s => s.Session == session);
    if (courses.Count() > 0)
    {
        <details id="cours_details_@session">
            <summary>
                Session @session
            </summary>
            @foreach (var item in courses)
            {
                <div class="StudentListLayout">
                    <a href="@Url.Action("Details", new { id = item.Id })">
                        <div style="display:flex">
                            <span class="studentCode">
                                @item.Code
                            </span>
                            <div class="studentName">
                                @item.FullName
                            </div>
                        </div>
                    </a>
                </div>
            }
        </details>
    }
}

