@{
    ViewBag.PageTitle = "À propos";
    ViewBag.Title = "À propos";
}
<h2>Application web PFI - hiver 2026</h2>
<dl>
    <dt>
        Auteurs - Vincent Lévesque et Mathis Teixeira

    </dt>

    <dd>
        
    </dd>

    <dt>
        Description
    </dt>

    <dd>
        Application Web PFI - hiver 2026
    </dd>

    <dd>
       
    </dd>

    <dt>
        Date de mise à jour
    </dt>

    <dd>
        Mai 2026
    </dd>

</dl>