
@{
    ViewBag.Title = "Details";
}

<div id="TeacherDetailsPanel">

</div>

<div id="TeacherAllocationsPanel">

</div>

@section Scripts {
    <script>let teacherDetailsAutoRefreshPanel =
            new AutoRefreshedPanel(
                "TeacherDetailsPanel",
                "/Teachers/GetDetails",
                5,
                teacherDetailsPostRefresh);


        let teacherAllocationsAutoRefreshPanel =
            new AutoRefreshedPanel(
                "TeacherAllocationsPanel",
                "/Teachers/GetAllocations",
                5,
                teacherAllocationsPostRefresh);


        function teacherDetailsPostRefresh() {

        }

        function teacherAllocationsPostRefresh() {

        }</script>


}